<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PracticeFA"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=PracticeFA;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
    <add name="PracticeFA_QA"
         connectionString="Server=.;Database=PracticeFA;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
